.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

.image-div {
	text-align: left;
}

.heading-div {
	text-align: right;
}

.nav-div {
	flex-direction: row;
	justify-content: flex-end;
}

.nav-div > a {
	padding: 5px 10px;
	margin: 20px 0px;
	background-color: transparent;
}

.laptop-logo-div-top > img,
.laptop-logo-div-bottom > img {
	transition: width 2s, transform 2s;
}

.laptop-logo-div-top > img {
	right: 100px;
}

.laptop-logo-div-bottom > img {
	left: 100px;
}

.laptop-logo-div-top > img:hover,
.laptop-logo-div-bottom > img:hover {
	width: 170px;
}

.profile-description-div > p {
	width: 50%;
	margin: 10px auto;
}

.about-me-image-div {
	margin: 15px auto;
}

.about-me-image-div > img {
	height: 270px;
	width: 250px;
}

.about-me-description-div > p {
	text-align: left;
}

.contact-form-div > form > button {
	width: 150px;
}

.footer-description-div > h3 {
	margin-top: 25px;
}

.footer-nav-div {
	margin-top: 40px;
}
